body{
	background-image: url("image.jpg");
	text-align:center;
	background-position:center;
	font-family:comic sans MS Tohoma, Geneva, Verdana, Sans-serif;
	margin-top:200px;
}
div{
	font-size: 15px;
	font-family: verdana, sans-serif;
}
a{
	color: black;
	top:50px;
	bottom: 50px;
}
.main{
	top:70px;
	bottom: 70px;
}